<ion-view view-title="IbPay">
  <ion-content>
    <ion-list class="cardapio">
      <!-- <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}"> -->
      <ion-item ng-repeat="produto in cardapio" href="">
        <span class="titulo">{{produto.nome}}</span>
        <div class="produto-thumb">
        	<img ng-src="{{produto.imagem}}">
        </div>
        <span ng-click="pedir(produto._id, produto.nome)" class="pedir">Pedir <i class="icon ion-checkmark-round"></span>
    	  <div ng-click="redirecionar(produto._id)" class="mask"></div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
