<ion-view view-title="IbPay">
  <ion-content>
    <ion-list class="cardapio">
      <ion-item href="#/app/cardapio/Bebidas">
        <span class="titulo">Bebidas</span>
        <div class="produto-thumb">
        	<img src="http://static.bolsademulher.com/sites/www.bolsademulher.com/files/receita/Como-preparar-o-drink-Cosmopolitan-2.jpg">
        </div>
    	<div class="mask"></div>
      </ion-item>

      <ion-item href="#/app/cardapio/Petiscos">
        <span class="titulo">Petiscos</span>
        <div class="produto-thumb">
          <img src="http://img.uol.com.br/guia/2013/04/17/petisco-palhitos-sensacoes-de-linguica-de-javali-flambada-na-cachaca-envelhecida-com-cebolas-roxas-pimentas-dedo-de-moca-e-grissini-de-aipim-com-queijo-acompanha-geleia-de-pimentao-vermelho-r2990-1366200112319_956x500.jpg">
        </div>
      <div class="mask"></div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
