<ion-view view-title="Pagamento">
  <ion-content>

	<div class="titulo">
		<h4 style="padding-left: 10px;">Pagamento</h4> <h4 style="padding-right: 10px;"class="preco-produto">Total: R{{totalConta|currency:R$}}</h4>
	</div>

    <div class="list">
	  	<label class="item item-input item-stacked-label">
	    	<span class="input-label">Numero do cartão</span>
	    	<input type="text" placeholder="0000000000000000" ng-model="pagamento.card_number">
	  	</label>
	  	<label class="item item-input item-stacked-label">
	    	<span class="input-label">Nome</span>
	    	<input type="text" placeholder="João L. Silva" ng-model="pagamento.card_holder_name">
	  	</label>
	  	<label class="item item-input item-stacked-label">
	    	<span class="input-label">Mês do vencimento</span>
	    	<input type="text" placeholder="00" ng-model="pagamento.card_expiration_month">
	 	</label>
	 	<label class="item item-input item-stacked-label">
	    	<span class="input-label">Ano do vencimento</span>
	    	<input type="text" placeholder="00" ng-model="pagamento.card_expiration_year">
	 	</label>
	 	<label class="item item-input item-stacked-label">
	    	<span class="input-label">Código de segurança</span>
	    	<input type="text" placeholder="000" ng-model="pagamento.card_cvv">
	 	</label>

    	<button class="button button-full button-positive" ng-click="pagar()">
		  Pagar
		</button>

	</div>

  </ion-content>
</ion-view>
