<ion-content id="login">
    <div class="form">
        <img src="img/logo.png" alt="" id="logo">
        <div class="list">
            <label class="item item-input item-md-label" placeholder="Usuário" highlight-color="balanced" type="text"><input type="text" class="md-input login-form"><span class="input-label">Usuário</span><div class="hightlight hightlight-calm"></div></label>
            <label class="item item-input item-md-label" placeholder="Senha" highlight-color="energized" type="password"><input type="password" class="md-input login-form"><span class="input-label">Senha</span><div class="hightlight hightlight-calm"></div></label>
        </div>
        <a style="text-decoration: none" href="#/categorias"><button class="login button button-full button-assertive ink">Login</button></a>

        <a href="/auth/facebook"><img class="login-fb" src="img/login-facebook.png" alt=""></a>
    </div>
    <div class="filtro"></div>
    <img class="backgr" src="img/backgr.jpg" alt="">
</ion-content>